<title>RailsMisterCocktail</title>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="7rRhxl0+opI+TYT/0nTYoZLjJVQ187Ib3cGDy08il25N60JmO4AYAdzEpTQuopNxO/0dFjRbq+p4QNjQqpIGmw==">
</head>


        <!-- Dropdown appearing on mobile only -->
        <div class="navbar-wagon-item hidden-md hidden-lg">
            <div class="dropdown">
                <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
                <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                    <li><a href="localhost:3000/cocktails">Cocktails</a></li>
                    <li><a href="localhost:3000/cocktails/new">Add a New Cocktail</a></li>
                </ul>
            </div>
        </div>
    </div>





        <title>RailsMisterCocktail</title>
        <meta name="csrf-param" content="authenticity_token">
        <meta name="csrf-token" content="z8DT74vR4+lNxmv1teoXeEwKNzZUSE5FiX+XkCil3M9cpeXmvlYfs58r0k9ADKRSpxDwmVH8jnyespmX/5bEOw==">

        <link rel="stylesheet" media="all" href="/assets/application-66b7d1df5ac4c14312b119ef86e6441f2dd1528b85cd2a64798bc1a3148a2243.css" data-turbolinks-track="reload">
        <script src="/assets/application-09ac31cce3386e3c280d6f92ff28bfe1a579dc14eb06b2a5bc9ed4de85604353.js" data-turbolinks-track="reload"></script>
        <script type="text/javascript">
            $.cloudinary.config({
                "api_key": "737572388839673",
                "cloud_name": "dehymofqg",
                "private_cdn": false
            });
        </script>









        <!-- Dropdown list appearing on mobile only -->
    </div>

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center">all cocktails</h1>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="card text-center" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)),
          url('https://res.cloudinary.com/dehymofqg/image/upload/c_fill,h_600,w_600/v1499900109/vuy4tfokg1tmskxw52cy.jpg')">
                        <div>
                            <h3>Rum Daiquiri</h3>
                            <p>A perfect blend of sweet and sour, this golden bro...</p>
                        </div>
                        <a class="card-link" href="/cocktails/17"></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="card text-center" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)),
        url('https://res.cloudinary.com/dehymofqg/image/upload/c_fill,h_600,w_600/v1518812962/y78p3uzh4h9bpkos8ppv.jpg')">
                        <div>
                            <h3>Mojito</h3>
                            <p>Delicious &amp; fresh</p>
                        </div>
                        <a class="card-link" href="/cocktails/19"></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="card text-center" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)),
      url('https://res.cloudinary.com/dehymofqg/image/upload/c_fill,h_600,w_600/v1522989870/ewqymqzg97nfloozkr4e.jpg')">
                        <div>
                            <h3>rum and coke</h3>
                            <p></p>
                        </div>
                        <a class="card-link" href="/cocktails/20"></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="card text-center" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)),
    url('https://res.cloudinary.com/dehymofqg/image/upload/c_fill,h_600,w_600/pexels-photo-109275_3_vdtoud')">
                        <div>
                            <h3>Throat killer</h3>
                            <p>Joonho Choi</p>
                        </div>
                        <a class="card-link" href="/cocktails/21"></a>
                    </div>
                </div>
            </div>
        </div>



    </div>
