<html>

<head>
  <title>RailsMisterCocktail</title>
  <meta name="csrf-param" content="authenticity_token">
  <meta name="csrf-token" content="z8DT74vR4+lNxmv1teoXeEwKNzZUSE5FiX+XkCil3M9cpeXmvlYfs58r0k9ADKRSpxDwmVH8jnyespmX/5bEOw==">

  <link rel="stylesheet" media="all" href="/assets/application-66b7d1df5ac4c14312b119ef86e6441f2dd1528b85cd2a64798bc1a3148a2243.css" data-turbolinks-track="reload">
  <script src="/assets/application-09ac31cce3386e3c280d6f92ff28bfe1a579dc14eb06b2a5bc9ed4de85604353.js" data-turbolinks-track="reload"></script>
  <script type="text/javascript">
    $.cloudinary.config({
      "api_key": "737572388839673",
      "cloud_name": "dehymofqg",
      "private_cdn": false
    });
  </script>
</head>

<body cz-shortcut-listen="true">
  <div class="navbar-wagon">
    <!-- Logo -->
    <div class="logo-title">
      <a class="navbar-wagon-brand" href="/">
        <img src="/assets/logo-cac7ea8fe6133a6c6bad6fca674f50074e72788eebf10b7f910e030af83e65a3.png" alt="Logo">
      </a> <span class="navbar-name">COCKTAIL KIT</span>
    </div>




    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">

      <!-- Button (call-to-action) -->
      <a class="navbar-wagon-link" href="/ingredients">Manage ingredients</a>
      <a class="navbar-wagon-item navbar-wagon-button btn" href="/cocktails/new">Add a cocktail</a>
    </div>

    <!-- Dropdown list appearing on mobile only -->
  </div>

  <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="text-center">all cocktails</h1>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card text-center" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)),
          url('https://res.cloudinary.com/dehymofqg/image/upload/c_fill,h_600,w_600/v1499900109/vuy4tfokg1tmskxw52cy.jpg')">
          <div>
            <h3>Rum Daiquiri</h3>
            <p>A perfect blend of sweet and sour, this golden bro...</p>
          </div>
          <a class="card-link" href="/cocktails/17"></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card text-center" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)),
        url('https://res.cloudinary.com/dehymofqg/image/upload/c_fill,h_600,w_600/v1518812962/y78p3uzh4h9bpkos8ppv.jpg')">
        <div>
          <h3>Mojito</h3>
          <p>Delicious &amp; fresh</p>
        </div>
        <a class="card-link" href="/cocktails/19"></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card text-center" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)),
      url('https://res.cloudinary.com/dehymofqg/image/upload/c_fill,h_600,w_600/v1522989870/ewqymqzg97nfloozkr4e.jpg')">
      <div>
        <h3>rum and coke</h3>
        <p></p>
      </div>
      <a class="card-link" href="/cocktails/20"></a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="card text-center" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)),
    url('https://res.cloudinary.com/dehymofqg/image/upload/c_fill,h_600,w_600/pexels-photo-109275_3_vdtoud')">
    <div>
      <h3>Throat killer</h3>
      <p>Joonho Choi</p>
    </div>
    <a class="card-link" href="/cocktails/21"></a>
  </div>
</div>
</div>
</div>



</div>


</body>

</html>

